<h2 class="text-center text-dark">{{titulo}}</h2>
<form>
    <div class="mb-1">
        <label>N° Habitación</label>
        <input type="text" class="form-control" />
    </div>
    <div>
        <label>Precio</label>
        <input type="text" class="form-control" />
    </div>
    <div>
        <label>Estado Habitación</label>
        <select class="form-control">
            <option value="">--Seleccione--</option>
            <option *ngFor="let estadohabitacion of estadohabitaciones">{{estadohabitacion.name}}</option>
        </select>
    </div>

    <div>
        <label>Piso</label>
        <select class="form-control">
            <option value="">--Seleccione--</option>
            <option *ngFor="let piso of pisos">{{piso.desc}}</option>
        </select>
    </div>

    <div>
        <label>Tipo Habitación</label>
        <select class="form-control">
            <option value="">--Seleccione--</option>
            <option *ngFor="let tipohabitacion of tipohabitaciones">{{tipohabitacion.nombretipohabitacion}}</option>
        </select>
    </div>

    <div class="mt-2 mb-2">
        <button type="submit" class="btn btn-success m-1">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="regresar()">Regresar</button>
    </div>


</form>