<h2 class="text-center text-dark">{{titulo}}</h2>
<form (ngSubmit)="guardar()">
    <div class="mb-1">
        <label>N° Habitación</label>
        <input type="text" name="roomNumber" [(ngModel)]="habitacion.roomNumber"  class="form-control" />
    </div>
    <div>
        <label>Precio</label>
        <input type="text" [(ngModel)]="habitacion.roomPrice"  name="roomPrice" class="form-control" />
    </div>
    <div>
        <label>Estado Habitación</label>
        <select  [(ngModel)]="habitacion.roomStatusId" class="form-control"  name="roomStatusId" >
            <option value="0">--Seleccione--</option>
            <option *ngFor="let estadohabitacion of estadohabitaciones"  [value]="estadohabitacion.idestroom">{{estadohabitacion.name}}</option>
        </select>
    </div>

    <div>
        <label>Piso</label>
        <select  [(ngModel)]="habitacion.floorId"  class="form-control" name="floorId"   >
            <option value="0">--Seleccione--</option>
            <option *ngFor="let piso of pisos"  [value]="piso.idfloor" >{{piso.desc}}</option>
        </select>
    </div>

    <div>
        <label>Tipo Habitación</label>
        <select [(ngModel)]="habitacion.roomTypeId"  class="form-control" name="roomTypeId"  >
            <option value="0">--Seleccione--</option>
            <option *ngFor="let tipohabitacion of tipohabitaciones" [value]="tipohabitacion.idroomtype"  >{{tipohabitacion.name}}</option>
        </select>
    </div>

    <div class="mt-2 mb-2">
        <button type="submit" class="btn btn-success m-1">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="regresar()">Regresar</button>
    </div>


</form>