<nav class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      Logo
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <ul class="nav-list mt-2 mb-2">
    <li routerLink="pasajero" ><a >Pasajero</a></li>
    <li routerLink="usuario"><a >Usuario</a></li>
    <li routerLink="tipousuario"><a >Tipo Usuario</a></li>
    <li routerLink="reserva"><a >Reserva</a></li>
  </ul>
</nav>

<div>
  <router-outlet></router-outlet> 
</div>



