<h2 class="text-center text-dark">{{titulo}}</h2>
<form>
    <div class="mb-1">
        <label>Nombre Persona</label>
        <select class="form-control">
            <option>--Seleccione--</option>
            <option *ngFor="let pasajero of pasajeros">{{pasajero.nombrecompleto}}</option>
        </select>
    </div>
    <div>
        <label>Nombre Usuario</label>
        <input type="text" class="form-control" />
    </div>
    <div>
        <label>Tipo Usuario</label>
        <select class="form-control">
            <option>--Seleccione--</option>
            <option *ngFor="let tipousuario of tipousuarios">{{tipousuario.nombretipousuario}}</option>
        </select>
    </div>

    <div class="mt-2 mb-2">
        <button type="submit" class="btn btn-success m-1">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="regresar()">Regresar</button>
    </div>


</form>