<section class="vh-80 gradient-custom">
  <div class="container py-4 h-500">
    <div class="row d-flex justify-content-center align-items-center h-50">
      <div class="col-8 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="mb-md-4 mt-md-4 pb-4">
              <h2 class="fw-bold mb-2">HOTEL PREMIER</h2>
              <p class="text-white-50 mb-5">
                Bienvenido , coloque sus credenciales
              </p>

              <div class="form-floating mb-3">
                <input type="email" id="floatingInput" class="form-control" placeholder="" />
                <label for="floatingInput" >Usuario</label>
              </div>

              <div class="form-floating form-white mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="">
                <label for="floatingPassword">Password</label>
              </div>

              

              <button class="btn btn-outline-light btn-lg px-5" type="submit">
                Ingresar
              </button>
            </div>

            <div>
              <p class="mb-0">
                no tienes una cuenta?
                <a href="#!" class="text-white-50 fw-bold">Registrate</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
