<h2 class="text-center text-dark">{{titulo}}</h2>
<form>
    <div class="mb-1">
        <label>Nombre Tipo Usuario</label>
        <input type="text" class="form-control" />
    </div>
    <div>
        <label>Descripción Tipo Usuario</label>
        <input type="text" class="form-control" />
    </div>

    <div class="mt-2 mb-2">
        <label>Seleccione las páginas que podrá visualizar</label>
        <table class="table">
            <thead>
                <th></th>
                <th>Nombre Pagina</th>
            </thead>
            <tbody>
                <tr *ngFor="let menu of menus">
                    <td><input type="checkbox" /></td>
                    <td>{{menu.nombremenu}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-2 mb-2">
        <button type="submit" class="btn btn-success m-1">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="regresar()">Regresar</button>
    </div>


</form>